#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Import BigQuery library

In [2]:
from google.cloud import bigquery

#### 3. Create a connection to BigQuery

In [3]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/home/gus/Dropbox/IRONHACK/Ironhack Data Analytics.json"

#### 4. Import data from the users table from the stackoverflow public database for United Kingdom only

#### 5. Rename id column to user_id

#### 6. Import from the stackoverflow_posts table all items which have up to 20 view counts and only select 'id', 'owner_user_id', 'score', 'view_count', 'comment_count', 'favorite_count'

#### 7. Rename id column to post_id and owner_user_id to user_id

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: user_id, reputation,views,up_votes,down_votes
    **posts columns**: post_id, score,user_id,view_count,comment_count

   user_id  reputation  views  up_votes  down_votes
0    32777         731     38        16           6
1    77741         435    110        28           1
2   174979         916     91       186          19
3  1502608        1264     90        44           0
4  2550349        1674    170       398           8

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

#### 9. How many missing values do you have in your merged dataframe?

#### Bonus: Identify extreme values in your merged dataframe, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder. Hint: post_id cannot have outliers!